.Rproj.user
.Rhistory
.RData
.Ruserdata
data/processed/raster/
data/processed/sample/
data/processed/vector/
data/raw/
data/tables/
model_outputs/
notebook/
rds/
renv/
models/preprocessing/
QGIS_VIZ.qgz

